# Put all Python modules that are needed *only* for development in here
-r src/requirements.txt

# Development/Testing packages

# needed for running tests
pytest
pytest-cov
# Runs tests against multiple versions of Python
tox
testfixtures

# coverage through testing
coverage
cov-core
mccabe

# source code cleanup
pylint

# documentation
pdoc
